---
import { Picture } from 'astro:assets';

import EventTitle from '@/components/Event/EventTitle.astro';
import EventDetails from '@/components/Event/EventDetails.astro';
import EventTotal from '@/components/Event/EventTotal.astro';
import Reseller from '@/components/Payment/Reseller.astro';
import Internal from '@/components/Payment/Internal.astro';

import EventModel from '@/models/Event';
import ResellerModel from '@/models/Reseller';

interface Props {
	event: EventModel;
	reseller?: ResellerModel;
}

const { event, reseller } = Astro.props as Props;
---

<section
	id="product-card"
	class="flex flex-col gap-4 px-4 py-4 justify-center items-stretch bg-white rounded-3xl shadow-sm border border-gray-200 max-w-lg"
>
	<Picture
		src={event.getImage().blob}
		alt={event.getImage().alt}
		width="600"
		height="600"
		class="rounded-2xl shadow-sm"
	/>
	<EventTitle title={event.getTitle()} description={event.getDescription()} />
	<EventDetails
		producer={event.getProducer()}
		dates={event.getDates()}
		location={event.getLocation()}
	/>
	<EventTotal price={event.getPrice().toFixed(2)} commission={event.getCommission().toFixed(2)} />
	{reseller ? <Reseller {reseller} {event} /> : <Internal {event} />}
</section>
