---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

import EventTitle from '@/components/Event/EventTitle.astro';
import EventDetails from '@/components/Event/EventDetails.astro';
import EventTotal from '@/components/Event/EventTotal.astro';
import EventActions from '@/components/Event/EventActions.astro';
import EventPayment from '@/components/Event/EventPayment.vue';
import Loader from '@/components/Shared/Loader.astro';

interface Props {
	event: CollectionEntry<'events'>;
}

const {
	event: { data: event },
} = Astro.props as Props;

const {
	image,
	title,
	description,
	producer,
	dates,
	location,
	price,
	installmentAmount,
	commission,
} = event as CollectionEntry<'events'>;
---

<section
	id="product-card"
	class="flex flex-col gap-4 px-4 py-4 justify-center items-stretch bg-white rounded-3xl shadow-sm border border-gray-200 max-w-lg"
>
	<Image src={image.blob} alt={image.alt} class="rounded-2xl shadow-sm" />
	<section id="content" class="contents">
		<EventTitle title={title} description={description} />
		<!-- Event details-->
		<EventDetails producer={producer} dates={dates} location={location} />
	</section>
	<EventTotal price={price.toFixed(2)} commission={commission.toFixed(2)} />
	<EventActions
		installmentAmount={installmentAmount.toFixed(2)}
		id={event.id}
		installments={event.installments}
	>
		<EventPayment client:load {event}>
			<button
				class="text-white flex gap-1 font-bold w-full justify-center bg-primary-700 rounded-lg text-sm px-5 py-2.5 items-center cursor-not-allowed"
				slot="loader"
				disabled
				aria-busy="true"
				aria-label="Cargando reserva"
			>
				<Loader classNames="size-5 animate-spin" />
				Cargando...
			</button>
		</EventPayment>
	</EventActions>
</section>
