---
import Isotype from '@/assets/iso-blanco.svg';
import Cart from '@/assets/icons/cart.svg';
import XIcon from '@/assets/icons/x.svg';
import EventStep from './EventStep.astro';
import { DateCalculator } from '@/utils/DateCalculator.ts';
import { CollectionEntry } from 'astro:content';
import Steps from '@/components/Payment/Steps.astro';

const { installmentAmount, id, installments, termsAndConditions } = Astro.props as {
	installmentAmount: number;
	id: string;
	installments: number;
	termsAndConditions: string;
};

const modalId = `${id}-terms-and-conditions-modal`;
---

<div
	id={modalId}
	tabindex="-1"
	aria-hidden="true"
	class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
	<div class="relative p-4 w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow-sm">
			<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200">
				<h3 class="text-lg font-semibold text-gray-900">Reserva tu lugar</h3>
				<button
					type="button"
					class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center"
					data-modal-toggle={modalId}
				>
					<XIcon class="size-3" />
					<span class="sr-only">Cerrar modal</span>
				</button>
			</div>

			<div class="p-4 md:p-5">
				<Steps installmentAmount={installmentAmount} installments={installments} />
				<slot />
				<a
					href={termsAndConditions}
					class="block text-sm text-primary-600 text-right w-full mt-1.5 hover:underline"
					download
				>
					Términos y condiciones
				</a>
			</div>
		</div>
	</div>
</div>
